*{
    font-family: Poppins;
}
body{
    color: #fff;
    background-color: rgb(2, 15, 32,0.8);  
}
.box1 h1,h3,p{
    text-align: center;
}
.box2{
    position: relative;
    left: 40%;
}
.box3 a{
    text-decoration: none;
    color: rgb(141, 21, 21);
}
.box3 a:hover{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.btn{
    background-color: hsl(25, 75%, 47%);
    cursor: pointer;
    padding: 5px;
    width: 5rem;
}
.btn:hover{
    color: #fff;
}
.register-table tr td input:focus{
    outline: none;
}